venv/
__pycache__/
.pytest_cache/
*.pyc
.env
*.log
test.py
*.md
.vscode/

# dwh_dbt_files/.gitignore
dbt_packages/
target/
logs/
.user.yml

# dags/.gitignore
test_pipeline.py

# keys/ .gitignore
*.json